// .drp-user{
    
// }

// .pcoded-header .dropdown .dropdown-toggle::before {
//     background-image: url('/assets/images/user/avatar-1.jpg') !important;
// }

.parent {
    position: relative;
    padding: 0 12px;
  }
  
  .logo {
      position:absolute;
      top: 22%;
      right: 25%;
    // border: 1px red solid;
  }
