
<!-- fieldsets -->
<fieldset *ngIf="step === 1" >
    <h3>Complete los parámetros necesarios</h3>
    <br>
    <div class="row">
        <div class="col-sm-2">
            <img *ngIf="canales.length > 0" src="/assets/images/campanias/checked1.png" width="30px" height="30px" class="img-fluid rounded mx-auto d-block" alt="">
            
        </div>
        <div class="col-sm-10 text-left">
            <label for="">Ingrese canales de publicidad</label><br>
            <small class="text-danger" *ngIf="canales.length === 0">* No existen canales creados.</small> 
            <!-- <small class="text-danger" *ngIf=".length === 0"> No tiene permisos para crear canales.</small> -->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <img *ngIf="objetivos.length > 0" src="/assets/images/campanias/checked1.png" width="30px" height="30px" class="img-fluid rounded mx-auto d-block" alt="">
            
        </div>
        <div class="col-sm-10 text-left">
            <label for="">Ingrese al menos un objetivo de campañas</label><br>
            <small class="text-danger" *ngIf="objetivos.length === 0">* No existen objetivos creados.</small> 
            <!-- <small class="text-danger" *ngIf=".length === 0"> No tiene permisos para crear intereses.</small> -->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <img *ngIf="intereses.length > 0" src="/assets/images/campanias/checked1.png" width="30px" height="30px" class="img-fluid rounded mx-auto d-block" alt="">
            
        </div>
        <div class="col-sm-10 text-left">
            <label for="">Ingrese al menos un interés de campañas</label><br>
            <small class="text-danger" *ngIf="intereses.length === 0">* No existen intereses creados.</small> 
            <!-- <small class="text-danger" *ngIf=".length === 0"> No tiene permisos para crear intereses.</small> -->
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <img *ngIf="contactos.length > 0" src="/assets/images/campanias/checked1.png" width="30px" height="30px" class="img-fluid rounded mx-auto d-block" alt="">
            
        </div>
        <div class="col-sm-10 text-left">
            <label for="">Ingrese al menos un contacto</label><br>
            <small class="text-danger" *ngIf="contactos.length === 0">* No existen contactos creados.</small> 
            <!-- <small class="text-danger" *ngIf=".length === 0"> No tiene permisos para crear contactos.</small> -->
        </div>
    </div>
    <br>
    
</fieldset>
<fieldset *ngIf="step === 2" >
    <h3>Campaña</h3>
    <form action="" class="was-validated">
    <div class="row text-center">
        <div class="col-sm-12 mr-auto ">
            <label for="inputPassword4">Nombre de la campaña</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="campania.nombre" required id="inputPassword4" placeholder="Nombre de la campaña">
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Campo obligatorio.</div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-6 mr-auto ">
            <label for="inputPassword4">Descripción de la campaña</label>
            <textarea type="text" class="form-control" name="descripcion" [(ngModel)]="campania.descripcion"  id="inputPassword4" placeholder="Descripción de la campaña"></textarea>
            
        </div>
        <div class="col-sm-6 mr-auto ">
            <label for="inputPassword4">Objetivos</label>
            
                
                    <perfect-scrollbar [style.max-height]="'150px'">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th scope="col">Nombre</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-left" *ngFor="let objetivo of objetivos; let i = index;">
                                <td><input type="checkbox"  id="exampleCheck1" [(ngModel)]="objetivo.seleccionado" [ngModelOptions]="{standalone: true}" (change)="addObjetivo(objetivo, i)"></td>
                                <td>{{objetivo.nombre }}</td>
                                
                            </tr>
                            </tbody>
                        </table>
                        
                    
                    
                    </perfect-scrollbar>
                    <small *ngIf="campania.objetivos.length>0" class="text-success">Válido.</small>
                    <small *ngIf="campania.objetivos.length===0" class="text-danger">Campo obligatorio.</small>
                
            <!-- </div> -->
            
            
            <!-- <textarea type="text" class="form-control" name="descripcion" [(ngModel)]="campania.descripcion" required id="inputPassword4" placeholder="Nombre de la campaña"></textarea> -->
            
            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
        <label for="inputPassword4">Canal/es</label>
        <ng-multiselect-dropdown
            [placeholder]="'Canales'"
            [data]="canales"
            [(ngModel)]="campania.canales"
            name="canales"
            [settings]="settingsSelect"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            required
        >
        </ng-multiselect-dropdown>
        <small *ngIf="campania.canales.length>0" class="text-success">Válido.</small>
        <small *ngIf="campania.canales.length===0" class="text-danger">Campo obligatorio.</small>
        </div>
        <div class="col-sm-6">
        <label for="inputPassword4">Interés</label>
        <ng-multiselect-dropdown
        [placeholder]="'Intereses'"
        [data]="intereses"
        [(ngModel)]="campania.intereses"
        name="intereses"
        [settings]="settingsSelect"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onInteresDeSelect($event)"
        (onDeSelectAll)="onDeSelectAllIntereses($event)"
        required
        >
        </ng-multiselect-dropdown>
        <small *ngIf="campania.intereses.length>0" class="text-success">Válido.</small>
        <small *ngIf="campania.intereses.length===0" class="text-danger">Campo obligatorio.</small>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="campania.intereses.length > 0">
        <div class="col-sm-12">
            <label for="inputPassword4">Contactos</label>
        </div>
    </div>
    <div class="row justify-content-between" *ngIf="campania.intereses.length > 0">
        <div class="col-4 text-left">
            <label for="inputPassword4"><b>Todos</b></label>
        </div>
        <div class="col-4 text-right">
            <label for="inputPassword4"><b>Seleccionados</b></label>
        </div>
    </div>
    <div class="row" *ngIf="campania.intereses.length > 0">
        <div class="col-sm-6">
            <ngx-spinner [name]="spinner2" [fullScreen]="false" type="ball-clip-rotate-pulse" size="medium"></ngx-spinner>
            <perfect-scrollbar [style.max-height]="'200px'">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th><input type="checkbox" name="isSelectedAll" [(ngModel)]="isSelectedAll" id="exampleCheck1" (change)="addAllContacto()"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-left" *ngFor="let contacto of contactos; let i = index;">
                        <th scope="row"> {{i+1}}</th>
                        <td>{{contacto.nombres + ' ' + contacto.apellidos }} <small class="text-success" *ngIf="contacto.recomendado">Contacto recomendado</small></td>
                        <td><input type="checkbox"  id="exampleCheck1" [(ngModel)]="contacto.seleccionado" [ngModelOptions]="{standalone: true}" (change)="addContacto(contacto, i)"></td>
                    </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        
        </div>
        <div class="col-sm-6">
            <perfect-scrollbar [style.max-height]="'200px'">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Celular</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-left" *ngFor="let contacto of campania.contactos; let i=index;">
                        <th scope="row">1</th>
                        <td>{{contacto.nombres + ' ' + contacto.apellidos}}</td>
                        <td>{{ contacto.celular }}</td>
                    </tr>
                    
                    <tr *ngIf="campania.contactos.length === 0"><td colspan="11" class="text-danger">* No hay contactos.</td></tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        
        </div>
    </div>
    </form>
</fieldset>  
<fieldset *ngIf="step === 3" >
    <h3>Información</h3>
    <div class="row">
        <div class="col-sm-6">
        <div class="row text-left">
            <div class="col-sm-12">
            <label>Multimedia (opcional)</label>
            <!-- <div class="input-group"> -->
                <div class="custom-file">
                <input type='file'  class="custom-file-input" accept="image/*" id="customFileLang" lang="es" (change)="readUrl($event);" /><small class="text-danger">*Solo imágenes</small>
                <label class="custom-file-label" for="customFileLang">{{campania.url_media?campania.url_media:'Seleccionar archivo'}}</label>
                </div>
            <!-- </div> -->
            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-12">
            <label>Enlace externo (opcional)</label>
            <input type="text" class="form-control" [(ngModel)]="campania.url" name="link">
            <small *ngIf="verificarURL()" class="text-success">Válido.</small>
            <small *ngIf="!verificarURL() && this.campania.url !=''" class="text-danger">Url no válido.</small>
            </div>
            
        </div>
        <div class="row text-left">
            <div class="col-sm-12">
            <label>Mensaje</label>
            
            <textarea class="overflow-auto" required [froalaEditor]="froala_options" name="content" #content="ngModel" (keyup)="getmessage($event)" [(ngModel)]="campania.mensaje"></textarea>
            <small *ngIf="campania.mensaje != ''" class="text-success">Válido.</small>
            <small *ngIf="campania.mensaje == ''" class="text-danger">Campo obligatorio.</small>
            </div>
            
        </div>
        </div>
        <div class="col-sm-6">
        <div class="parent">
            <img class="image1" src="/assets/images/campanias/cellphone.jpg" />
            
            <div class="pantalla">
                
            <div class="mensaje text-left" style="left: 30% !important;" *ngIf="campania.mensaje != '' || campania.url_logo != '' || campania.url_media != ''" id="msg" ><img class="img-fluid rounded mx-auto d-block image" *ngIf="campania.url_media" [src]="getImage() != ''?getImage():''" title="path" width="70%" height="80%">
                 <small [innerHTML]="campania.mensaje">{{campania.mensaje.trim()}} </small> <a [href]="campania.url"><strong>{{campania.url}}</strong></a></div>
            
            </div>
            
        </div>  
        </div>
    
    </div>
    
</fieldset> 
<fieldset *ngIf="step === 4" >
    <h3>{{campania.nombre}}</h3>
    <div class="row">
        <div class="col-sm-7">
            <div class="row text-left">
                <div class="col-sm-12">
                <label>Descripción</label>
                <!-- <div class="input-group"> -->
                    <div class="form-control">
                        {{campania.descripcion?campania.descripcion:'No hay descripción.'}}
                    </div>
                <!-- </div> -->
                </div>
                
            </div>
            <div class="row text-left mt-3">
                <div class="col-sm-12">
                    <label for="">Objetivos</label>
                    <perfect-scrollbar [style.max-height]="'140px'">
                        <div class="form-control" style="border: none !important;">
                            <ul>
                                <li *ngFor="let objetivo of campania.objetivos">{{objetivo.nombre}}</li>
                            </ul>
                        </div>
                    </perfect-scrollbar>
                    
                </div>
                
            </div>
            <div class="row text-left mt-3">
                <div class="col-sm-12">
                    <label for="">Intereses</label>
                    <div class="form-control">
                        {{getNombresDetalle(campania.intereses)}}
                    </div>
                </div> 
                
            </div>
            
            <div class="row text-left mt-3">
                <div class="col-sm-12">
                    <label>Contactos</label>
                    <perfect-scrollbar [style.max-height]="'200px'">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Celular</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-left" *ngFor="let contacto of campania.contactos; let i=index;">
                                <td>{{contacto.nombres + ' ' + contacto.apellidos}}</td>
                                <td>{{ contacto.celular }}</td>
                            </tr>
                            
                            
                            </tbody>
                        </table>
                    </perfect-scrollbar>
                </div> 
                
            </div>
        </div>
        <div class="col-sm-5">
            <div  class="row text-left">
                <div class="col-sm-12">
                    <label for="">Canales</label>
                    <div class="form-control" style="border: none !important;">
                        {{getNombresDetalle(campania.canales)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="parent">
                        <img class="image1" src="/assets/images/campanias/cellphone.jpg" />
                        
                        <div class="pantalla">
                            
                            <div class="mensaje text-left" style="left: 17% !important;" *ngIf="campania.mensaje != '' || campania.url_logo != '' || campania.url_media != ''" id="msg" ><img class="img-fluid rounded mx-auto d-block image" *ngIf="campania.url_media" [src]="getImage() != ''?getImage():''" title="path" width="70%" height="80%"> <small [innerHTML]="campania.mensaje">{{campania.mensaje.trim()}} </small> <a [href]="campania.url"><strong>{{campania.url}}</strong></a></div>
                        
                        </div>
                        
                    </div>  
                </div>
            </div>
           
        </div>
    
    </div>
    
</fieldset> 


