<ngx-spinner type = "ball-clip-rotate-pulse"></ngx-spinner>
<h5>Intereses</h5>
<div class="row"> 
  <div class="col-md-4">
    <div id="main-search" class="main-search open">
      
      <div class="input-group">
        <span class="input-group-prepend" >
          <i class="feather icon-search input-group-text"></i>
        </span>
        <input type="text" id="m-search" class="form-control" name="busqueda" [(ngModel)]="busqueda" (keyup.backspace)="onKeyBackSpace()" (keyup)="onSearch()" placeholder=" Búsqueda . . ." [style.width]="'50px'">
        
      </div>
    </div>
  </div>
  <div class="col-md-2 ml-auto">


    <button type="button" class="btn btn-primary" *ngIf="permiso.crear" (click)="onCreate()" ngbTooltip="btn-primary">Crear interés</button>
  </div>
</div>
      
<br>

<div class="row">
    <div class="col-sm-12">
      <app-card [options]="false" [hidHeader]="true">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" sortable="nombre" >Nombre</th>
            <th scope="col" sortable="status" >Estado</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let interes of intereses; let i = index;"
              [ngClass]="{'danger-table': interes.status === 'I'}"
          >
            <th scope="row">{{ i+1 }}</th>
            <td>
              {{interes.nombre}}
            </td>
            <!-- <td><span class="badge m-r-5 badge-pill badge-info">{{  interes.nombre }}</span></td> -->
            <td>{{interes.status=='A' ? 'Activo' : 'Inactivo'}}</td>
            <td>
              <div class="btn-group mb-2 mr-2" ngbDropdown [placement]="'bottom-right'">
                  <button class="btn btn-icon" ngbDropdownToggle type="button"><i class="icon feather icon-more-vertical"></i></button>
                  <div ngbDropdownMenu>
                    <a class="dropdown-item" type="button" (click)="onEdit(interes)" href="javascript:"><i class="icon feather icon-edit"></i> Editar</a>
                    <a *ngIf="interes.status === 'A'" class="dropdown-item" type="button" (click)="onDelete(interes)" href="javascript:"><i class="icon feather icon-trash"></i> Eliminar</a>
                    <a *ngIf="interes.status === 'I'" class="dropdown-item" type="button" (click)="onActivar(interes)" href="javascript:"><i class="icon feather icon-check-square"></i> Activar</a>
                  </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </app-card>
    </div>

</div>

<div style="float: right;">
  
  <ngb-pagination [collectionSize]="collectionSize"  (pageChange)="onChangePage($event)" [(page)]="advancePage" [maxSize]="3" [pageSize]="per_page" [boundaryLinks]="true"></ngb-pagination>
  
</div>
  