<form action="javascript:"  class="was-validated">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">Nombres</label>
            <input type="text" class="form-control" name="nombre" required [(ngModel)]="contacto.nombres" id="inputPassword4" placeholder="Nombres">
            <div class="valid-feedback">Válido.</div>
            <div class="invalid-feedback">Campo obligatorio.</div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Apellidos</label>
            <input type="text" class="form-control" name="apellidos"  [(ngModel)]="contacto.apellidos" id="inputPassword4" placeholder="Apellidos">
        
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">Celular</label>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Correo electrónico</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            
           
			<!-- <ngx-intl-tel-input  [cssClass]="'form-control'"
				[preferredCountries]="preferredCountries"
				[enableAutoCountrySelect]="true"
				[enablePlaceholder]="true"
				[searchCountryFlag]="true"
				[searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
				[selectFirstCountry]="false"
				[selectedCountryISO]="CountryISO.Ecuador"
				[maxLength]="15"
				[tooltipField]="TooltipLabel.Name"
				[separateDialCode]="false"
                name="phone"
                [phoneValidation]="true"
                >
            </ngx-intl-tel-input> -->
            <input type="text" required ng2TelInput [(ngModel)]="contacto.celular"  (keypress)="validaNumericos($event)" (ng2TelOutput)="getNumber($event)" name="celular"  [ng2TelInputOptions]="{initialCountry: 'ec', phoneValidation:true, nationalMode:true}" class="form-control"/>
           <div class="row">
                <div class="col-sm-12">
                    <small *ngIf="contacto.celular.length > 9" class="text-success">Válido</small>
                    <small *ngIf="contacto.celular.length === 0" class="text-danger">Campos obligatorios</small>
                </div>
           </div>
            
        </div>
        <div class="form-group col-md-6">
            <!-- <label for="inputPassword4">Email</label> -->
            <input type="text" class="form-control" name="correo" [(ngModel)]="contacto.correo" id="inputPassword4" placeholder="Nombre">
        </div>
    </div>
</form>
